/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
.pulumi
Pulumi.*.yaml
yarn.lock
ci-scripts
/nuget/
sdk/dotnet/version.txt
.DS_Store
/provider/cmd/pulumi-resource-command/schema.go

rsa*
password.txt
password2.txt
private_ip.txt
out.txt
examples/**/venv/
examples/**/__pycache__/
