/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
.pulumi
Pulumi.*.yaml
yarn.lock
ci-scripts
/nuget/
sdk/dotnet/version.txt
.DS_Store
/provider/cmd/pulumi-resource-command/schema-embed.json
dist/
.vscode

rsa*
password.txt
password2.txt
private_ip.txt
out.txt
examples/**/venv/
examples/**/__pycache__/

sdk/java/build
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat

sdk/python/venv

coverage.txt
